
[submodule "extern/sokol"]
	path = extern/sokol
	url = https://github.com/floooh/sokol.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/hmm"]
	path = extern/hmm
	url = https://github.com/HandmadeMath/HandmadeMath.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
